name: Build and Push Docker Image to Docker Hub

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [ created ]

jobs:
  build:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - platform: linux/amd64
            runner: ubuntu-latest
          - platform: linux/arm64
            runner: ubuntu-24.04-arm

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          submodules: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push by digest
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: ${{ matrix.platform }}
          outputs: type=image,name=shmayro/scrcpy-web,push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"

          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV

      - name: Upload digest
        uses: actions/upload-artifact@v5
        with:
          name: digests-${{ env.PLATFORM_PAIR }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download digests
        uses: actions/download-artifact@v6
        with:
          pattern: digests-*
          path: /tmp/digests
          merge-multiple: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get current date
        if: github.ref == 'refs/heads/main'
        id: date
        run: echo "DATE=$(date +'%d-%m-%y')" >> $GITHUB_ENV

      - name: Get Pull Request ID
        if: github.event_name == 'pull_request'
        id: pr
        run: echo "PR_ID=${{ github.event.pull_request.number }}" >> $GITHUB_ENV

      - name: Create manifest list and push
        working-directory: /tmp/digests
        run: |
          tags=""
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            tags="$tags shmayro/scrcpy-web:latest shmayro/scrcpy-web:${{ env.DATE }}"
          fi
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            tags="$tags shmayro/scrcpy-web:pr-${{ env.PR_ID }}"
          fi
          docker buildx imagetools create $tags $(printf 'shmayro/scrcpy-web@sha256:%s ' *)

      - name: Inspect image
        run: |
          tag="latest"
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            tag="pr-${{ env.PR_ID }}"
          fi
          docker buildx imagetools inspect shmayro/scrcpy-web:${tag}
